.social-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  right: 0;
  top: 0;
  width: 35px;
  z-index: 10;
  > * {
    display: block;
    width: 35px;
    height: 48px;
    border-radius: 6px 0 0 6px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
  .icon_viber {
    background-image: url(../img/icon-viber.png);
  }
  .icon_whatsapp {
    background-image: url(../img/icon-whatsapp.png);
  }
}