.pagination {
  padding: 0;
  margin: 25px 0 15px 0;
  display: flex;
  font-size: 20px;
  align-items: center;
  list-style: none;
  justify-content: center;
  li {
    &:not(:last-child) {
      margin-right: 25px;
    }
    @include breakpoint(md) {
      display: none;
    }
    a {
      display: block;
      padding: 12.5px 10px;
      text-decoration: none;
      color: $main;
      &._active {
        color: #868686;
        pointer-events: none;
      }
      &:hover {
        color: $locust;
      }
    }
  }
  .pagination {
    &__prev a {
      padding-left: 30px;
      text-align: right;
      @include breakpoint(md) {
        text-align: center;
      }
      &:before {
        transform: translateY(-50%) rotate(-135deg);
        left: 0;
        @include breakpoint(md) {
          left: 20%;
        }
      }
    }
    &__next a {
      padding-right: 30px;
      text-align: left;
      @include breakpoint(md) {
        text-align: center;
      }
      &:before {
        transform: translateY(-50%) rotate(45deg);
        right: 0;
        @include breakpoint(md) {
          right: 20%;
        }
      }
    }
    &__prev,
    &__next {
      display: block;
      max-width: 135px;
      @include breakpoint(md) {
        flex: 0 1 50%;
        max-width: 50%;
        background-color: $locust;
        color: $white;
        border-radius: 30px;
      }
      a {
        border-radius: 30px;
        color: $locust;
        position: relative;
        font-size: 16px;
        @include breakpoint(md) {
          color: $white;
        }
        &:hover {
          color: $locust;
          text-decoration: none;
          @include breakpoint(md) {
            color: $white;
          }
        }
        &:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          border-top: 1.5px solid $locust;
          border-right: 1.5px solid $locust;
          top: 50%;
          @include breakpoint(md) {
            border-color: $white;
          }
        }
      }
    }
  }
}