.modal
  .modal__content(data-modal="service")
    .modal__close
    +form({
      addClass: 'modal__form',
      title: 'Получите бесплатную консультацию у дизайнеров ',
      btn_text: 'Получить консультацию',
      items: [{
        type: 'text',
        placeholder: 'Вашe имя'
      },{
        type: 'tel',
        placeholder: 'Ваш телефон'
      }]
    })
  .modal__content(data-modal="pango")
    .modal__close
    +form({
      addClass: 'modal__form',
      title: 'Получите бесплатную консультацию у дизайнеров ',
      btn_text: 'Получить консультацию',
      items: [{
        type: 'text',
        placeholder: 'Вашe имя'
      },{
        type: 'tel',
        placeholder: 'Ваш телефон'
      }]
    })