.modal
  .modal__content(data-modal="service")
    .modal__close
    +form({
      addClass: 'modal__form',
      title: 'Оставьте заявку на выезд дизайнеров',
      btn_text: 'Отправить',
      items: [{
        type: 'text',
        placeholder: 'Вашe имя'
      },{
        type: 'tel',
        placeholder: 'Ваш телефон'
      }]
    })
  .modal__content(data-modal="consultate")
    .modal__close
    +form({
      addClass: 'modal__form',
      title: 'Оставьте заявку на выезд дизайнеров',
      btn_text: 'Отправить',
      items: [{
        type: 'text',
        placeholder: 'Вашe имя'
      },{
        type: 'tel',
        placeholder: 'Ваш телефон'
      }]
    })