extends /app/templates/default

block main
  main
    .container-new.container-new_pre-header.opacity(style="background-image: url(../img/bg-preheader.png)")
      .row.row_sticking
        +pre-header({
          ad: true,
          title_mods: ['small', 'white'],
          form_mods: ['big'],
          foto_insert: false,
          btn_mods: ['violet'],
          title: 'Пошив штор на заказ',
          subtext: ' для оформления окон любой сложности '
        })
          +list({
            mods: ['white'],
            items: [{
              text: 'Уникальные шторы на окна любой сложности в квартиры и частные дома.'
            },{
              text: 'Обеспечим текстильное наполнение интерьера в срок от 3 до 14 дней.'
            },{
              text: 'Авторский дизайн-проект, широкий выбор моделей и тканей, индивидуальный пошив под ключ.'
            }]
          })

    .container-new.advantages.advantages_small
      .row
        .advantages__row
          +title({
            text: 'Четыре причины заказать именно у нас:',
            tag: 'h2',
            mods: ['h2']
          })
          .advantages__pic(style="background-image: url(../img/lp-advantages.png)")
          .advantages__wrap
            .advantages__item.advantages__item_violet 
              strong Изготовим шторы с учетом всех особенностей 
              | интерьера от 3 дней.
            .advantages__item.advantages__item_violet 
              strong Имеем собственный штат сотрудников: 
              | дизайнеры, швеи, монтажники, водители.
            .advantages__item.advantages__item_violet 
              strong Оформляем любые нестандартные окна – 
              | эркерные, арочные, трапециевидные, мансардные.
            .advantages__item.advantages__item_violet 
              strong Предлагаем широкий выбор тканей 
              | из Испании, Италии, Германии, Индии, Турции.

    .container-new
      .row
        +title({
          text: 'Портфолио',
          tag: 'h2',
          mods: ['h2']
        })

        p Наша команда работает вместе уже более 10-ти лет и способна на создание даже самых сложных интерьеров. Несмотря на значительный опыт, мы никогда не перестаем учиться чему-то новому и быть в курсе новых трендов в дизайне штор. 

        +portfolio({
          items:[{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-1.png',
            full_img: '../img/portfolio-img-full-1.png'
          },{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-2.png',
            full_img: '../img/portfolio-img-full-2.png'
          },{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-3.png',
            full_img: '../img/portfolio-img-full-3.png'
          },{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-4.png',
            full_img: '../img/portfolio-img-full-4.png'
          },{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-5.png',
            full_img: '../img/portfolio-img-full-5.png'
          },{
            name: 'Шторы для гостинной в римском стиле',
            resize_image: '../img/portfolio-img-resize-6.png',
            full_img: '../img/portfolio-img-full-6.png'
          }]
        })

    .container-new.abstract-img
      .row
        +title({
          text: 'Четыре шага до ваших штор:',
          tag: 'h2',
          mods: ['h2']
        })
        +stride({
          items: [{
            contents:[
              '<strong>Оставьте заявку</strong> на нашем сайте', 
              '<strong>Позвоните нам</strong> по телефону', 
              '<strong>Отправьте фото</strong> вашего интерьера.'
            ]
          },{
            contents:[
              '<strong>Дизайнер приедет</strong> к вам домой', 
              '<strong>Бесплатно</strong> сделает все замеры', 
              '<strong>Покажет образцы тканей</strong> и поможет в выборе оформления.'
            ]
          },{
            contents:[
              '<strong>Вы получите дизайн-проект</strong> ваших штор ', 
              '<strong>Мы начнем их пошив</strong> из выбранных материалов.'
            ]
          },{
            contents:[
              '<strong>В назначенный день</strong> мастер приедет.', 
              '<strong>Установит карниз.</strong>', 
              '<strong>Повесит ваши шторы.</strong>'
            ]
          }]
        })

    .container-new.container-new_gray
      .row
        .insert-foto
          .insert-foto__left
            +title({
              text: 'Как узнать стоимость проекта в 4 шага? ',
              mods: ['h2'],
              tag: 'h2'
            })
            +list({
              addClass: 'insert-foto__list',
              items: [{
                text: 'Пришлите нам фотографию вашего интерьера.'
              },{
                text: 'Наш консультант позвонит вам для уточнения нюансов.'
              },{
                text: 'Напишите ваш номер телефона.'
              },{
                text: 'Узнайте примерную стоимость ваших штор.'
              }]
            })
            form.insert-foto__form
              .insert-foto__thx.thx Спасибо за заявку! Мы скоро свяжемся с Вами.
              input.insert-foto__input(type='tel', required, placeholder="Номер телефона")
              label.btn.btn_file.insert-foto__input
                span Прикрепить фото
                input(type="file", multiple="multiple", accept="image/x-png,image/gif,image/jpeg")
              +btn({
                mods: ['violet'],
                add_Class: 'insert-foto__btn',
                type_btn: 'submit',
                text: 'Отправить'
              })

          .insert-foto__right(style="background-image: url('../img/insert-foto-bg.png')")

    .container-new
      .row
        +title({
          text: 'Каталог тканей',
          mods: ['h2'],
          tag: 'h2'
        })
        +catalog({
          items: [{
            imgs: [{
              full_img: '../img/0fbc5508-4422-4c3d-b5a2-6e916c2517d0.jpg',
              resize_image: '../img/0fbc5508-4422-4c3d-b5a2-6e916c2517d0.jpg'
            },{
              full_img: '../img/2d4b19c9-94ac-42d7-826f-4002511e4613.jpg',
              resize_image: '../img/2d4b19c9-94ac-42d7-826f-4002511e4613.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/6b0cbd7f-cd3a-429d-950c-92030ccf08d0.jpg',
              resize_image: '../img/6b0cbd7f-cd3a-429d-950c-92030ccf08d0.jpg'
            },{
              full_img: '../img/6e78981f-4e4c-4462-a765-aad4539f5c95.jpg',
              resize_image: '../img/6e78981f-4e4c-4462-a765-aad4539f5c95.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/8bd8a26e-e987-4a5e-8c45-7e6e1fe269ca.jpg',
              resize_image: '../img/8bd8a26e-e987-4a5e-8c45-7e6e1fe269ca.jpg'
            },{
              full_img: '../img/9ff6123b-8f41-4959-987d-d71c20d261f2.jpg',
              resize_image: '../img/9ff6123b-8f41-4959-987d-d71c20d261f2.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/26a8d826-0605-40a9-bf63-ec24e176ea2d.jpg',
              resize_image: '../img/26a8d826-0605-40a9-bf63-ec24e176ea2d.jpg'
            },{
              full_img: '../img/35ba11dd-2c2f-4e51-aa01-6fe40850a2a3.jpg',
              resize_image: '../img/35ba11dd-2c2f-4e51-aa01-6fe40850a2a3.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/47bd8ac2-4929-4a45-a444-bc71e871278a.jpg',
              resize_image: '../img/47bd8ac2-4929-4a45-a444-bc71e871278a.jpg'
            },{
              full_img: '../img/89e024be-5978-41ad-80ee-b9d7b06c39e5.jpg',
              resize_image: '../img/89e024be-5978-41ad-80ee-b9d7b06c39e5.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/94cdb774-f5c1-4938-8e9a-6370ae84debc.jpg',
              resize_image: '../img/94cdb774-f5c1-4938-8e9a-6370ae84debc.jpg'
            },{
              full_img: '../img/353b742b-b0d6-4fef-9412-a1b1e0f90198.jpg',
              resize_image: '../img/353b742b-b0d6-4fef-9412-a1b1e0f90198.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/68289d9f-3c5f-416d-aac6-6f5457abe591.jpg',
              resize_image: '../img/68289d9f-3c5f-416d-aac6-6f5457abe591.jpg'
            },{
              full_img: '../img/069691b9-3c18-4e85-aed8-0e345df1c2cc.jpg',
              resize_image: '../img/069691b9-3c18-4e85-aed8-0e345df1c2cc.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/76015c94-a170-4c8a-a7f1-97035a24e47f.jpg',
              resize_image: '../img/76015c94-a170-4c8a-a7f1-97035a24e47f.jpg'
            },{
              full_img: '../img/609225ca-2266-4341-81b7-897d11f2752f.jpg',
              resize_image: '../img/609225ca-2266-4341-81b7-897d11f2752f.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/17409772-1012-4c98-b2c7-977d377c116c.jpg',
              resize_image: '../img/17409772-1012-4c98-b2c7-977d377c116c.jpg'
            },{
              full_img: '../img/aa825393-f77e-4574-82dd-6347521547cb.jpg',
              resize_image: '../img/aa825393-f77e-4574-82dd-6347521547cb.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/b106639f-6a88-4919-8df1-112e4531de79.jpg',
              resize_image: '../img/b106639f-6a88-4919-8df1-112e4531de79.jpg'
            },{
              full_img: '../img/c7ce0568-71c5-4807-8a39-62ff8564c844.jpg',
              resize_image: '../img/c7ce0568-71c5-4807-8a39-62ff8564c844.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/c5855e5a-9d18-4010-bcb1-c9ce77a48e7a.jpg',
              resize_image: '../img/c5855e5a-9d18-4010-bcb1-c9ce77a48e7a.jpg'
            },{
              full_img: '../img/d68de995-90f2-4bff-aa71-8d8df4fe2d6d.jpg',
              resize_image: '../img/d68de995-90f2-4bff-aa71-8d8df4fe2d6d.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/e8bc198b-6a17-4b75-a847-9b0235e2c9db.jpg',
              resize_image: '../img/e8bc198b-6a17-4b75-a847-9b0235e2c9db.jpg'
            },{
              full_img: '../img/e0055c7b-9ea3-40d0-b90e-5f3318976e0f.jpg',
              resize_image: '../img/e0055c7b-9ea3-40d0-b90e-5f3318976e0f.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/ea4a270c-da8f-4e69-af92-cf164c3b35c7.jpg',
              resize_image: '../img/ea4a270c-da8f-4e69-af92-cf164c3b35c7.jpg'
            },{
              full_img: '../img/f7a91cf8-1bf7-40f9-91b2-7bb9f525ba971.jpg',
              resize_image: '../img/f7a91cf8-1bf7-40f9-91b2-7bb9f525ba971.jpg'
            }]
          },{
            imgs: [{
              full_img: '../img/f7a91cf8-1bf7-40f9-91b2-7bb9f525ba97.jpg',
              resize_image: '../img/f7a91cf8-1bf7-40f9-91b2-7bb9f525ba97.jpg'
            },{
              full_img: '../img/FOTO1655.jpg',
              resize_image: '../img/FOTO1655.jpg'
            }]
          }]
        })
  
    .container-new
      .row
        +title({
          text: 'Отзывы',
          tag: 'h2',
          mods: ['h2']
        })

        +slider({
          mods: ['dots_violet', 'arrows_visible'],
          reviews: [{
            audio: 'https://ok.design/upload/iblock/8c0/8c0e2af59b9a1d7804d19a22959acc7d.mp3',
            text: 'Мне все очень понравилось! То что мне предложили в комнату, меня полностью устроило. Девушки-дизайнеры были милы, все четко понимали и предлагали именно то что мне хотелось. Все хорошо! Буду обращаться еще!'
          },
          
          {
            text: 'Спасибо большое дизайнерам, которые сделали макет, все показали и согласовали. Все было очень быстро, надежно и хорошо. Еще раз огромное спасибо ОКей Дизайн за такой прекрасный дом, где я надеюсь мы с моей семьей будем проводить время.'
          },
          
          {
            text: 'С дизайнерами из ОКей Дизайн сотрудничаю уже не в первый раз, как в рамках проекта "Идеальный ремонт", так и для частных заказчиков. ОКей Дизайн - это всегда качественно, профессионально и в срок!'
          },
          
          {
            text: 'С дизайнерами из ОКей Дизайн сотрудничаю уже не в первый раз, как в рамках проекта "Идеальный ремонт", так и для частных заказчиков. ОКей Дизайн - это всегда качественно, профессионально и в срок!'
          }]
        })

    .container-new
      .row
        +title({
          text: 'Наши дизайнеры',
          tag: 'h2',
          mods: ['h2']
        })

        +slider({
          mods: ['big_gutter', 'dots_hidden', 'arrows_visible'],
          personals: [{
            photo: '../img/Mariya.jpg',
            name: 'Мария Кочетова',
            position: 'Дизайнер штор'
          },{
            photo: '../img/Nina2.jpg',
            name: 'Нина Рухая',
            position: 'Ведущий дизайнер'
          },{
            photo: '../img/natalia_t.jpg',
            name: 'Наталья Тернавская',
            position: 'Дизайнер штор'
          },{
            photo: '../img/i_bazunova.jpg',
            name: 'Ирина Базунова',
            position: 'Дизайнер штор'
          },{
            photo: '../img/Olga.jpg',
            name: 'Ольга Чобану',
            position: 'Дизайнер штор'
          },{
            photo: '../img/evgenia_b.jpg',
            name: 'Евгения Басаргина',
            position: 'Дизайнер штор'
          },{
            photo: '../img/Silvana.jpg',
            name: 'Сильвана Мацакова',
            position: 'Дизайнер штор'
          },{
            photo: '../img/Olga_B.jpg',
            name: 'Ольга Баринова',
            position: 'Дизайнер штор'
          }]
        })

    +callback({
      title: 'Закажите экслюзивные шторы',
      img: '../img/service-1.png',
      btn_mods: ['violet'],
      items: [{
        type: "text",
        placeholder: 'Ваше имя'
      },{
        type: "tel",
        placeholder: 'Ваш номер'
      },{
        type: "email",
        placeholder: 'Ваш e-maill'
      }]
    })