.list, .disc {
  padding-left: 0;
  font-size: 16px;
  &_white {
    color: $white;
  }
  &__item, li {
    padding-left: 20px;
    list-style: none;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 2px;
      width: 8px;
      height: 8px;
      background-color: $locust;
      transform: rotate(45deg);
      border: 2px solid $battleship_gray;
      box-sizing: border-box;
    }
  }
}

main {
  ul.disc {
    margin: 35px 0;
    li {
      font-size: 16px;
      list-style: none;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
}