.breadcrumbs {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-top: 50px;
  & + .title {
    margin-top: 30px;
  }
  li {
    &:not(:first-of-type) {
      &:before {
        content: '-';
        padding: 0 5px;
      }
    }
    a {
      font-size: 14px;
      color: #727272;
    }
  }
}