mixin catalog(data)
  .catalog.slider.slider_arrows_visible.slider_dots_violet(data-js='slider_catalog')
    each item in data.items
      .catalog__wrapper
        each img in item.imgs
          a.catalog__item(href=img.full_img, style=`background-image:url(${img.resize_image})`, data-fancybox="gallery")
        