.btn {
  padding: 13px 13px 11px;
  background-color: $locust;
  border-radius: 10px;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato";
  &_text {
    background: none;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    color: $locust;
    padding: 0;
  }
  &_file {
    background-color: #a2ae8b66;
    [type=file] {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
  &_violet {
    background-color: #76477D;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.27);
  }
  // &_center {
  //   display: block;
  //   margin: 0 auto;
  // }
}