.btn {
  padding: 9px 13px 10px;
  background-color: $locust;
  border-radius: 10px;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  &_text {
    background: none;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    color: $locust;
    padding: 0;
  }
  &_file {
    background-color: #a2ae8b66
  }
}