extends /app/templates/default
  
block main
  main
    .container-new.container-new_pre-header(style="background-image: url(../img/banner-1.png)")
      .row
        +pre-header({
          title: 'Деревянные карнизы'
        })
          +list({
            mods: ['white'],
            items: [{
              text: 'Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций.'
            }]
          })

    .container-new
      .row
        +services({
          mods: ['grid'],
          items: [{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Больше карнизов',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'С узором'
            },{
              text: 'С узором'
            },{
              text: 'С узором'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: '../img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_mods: ['text'],
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          }]
        })

    .container-new
      .row
        +title({
          text: 'Дополнительные аксессуары к деревянным карнизам',
          tag: 'h2',
          mods: ['h2']
        })
        p В нашем ассортименте есть различные аксессвуары, которые можно подобрать в дополнение к вашим шторам

        .category
          a.category__item(href="#")
            +icon({
              icon: 'category-cornices'
            })
            | Карнизы
          a.category__item(href="#")
            +icon({
              icon: 'category-package'
            })
            | Еще что-то
          a.category__item(href="#")
            +icon({
              icon: 'category-curtains'
            })
            | Держатели для штор
          a.category__item(href="#")
            +icon({
              icon: 'category-package'
            })
            | Еще что-то


    +consult({
      bg_img: '../img/banner-1.png',
      title: 'Закажите бесплатный выезд нашего специалиста',
      text: 'Мы поможем сделать все замеры, подготовим дизайн и подбрем идеальное решение индивидуально для вас',
      info_title: 'Преимущества деревянных карнизов',
      items: [{
        icon: 'growth',
        text: 'Экологичность'
      },{
        icon: 'shining',
        text: 'Эстетичность'
      },{
        icon: 'tools',
        text: 'Долговечность'
      }]
    })

    .container-new
      .row
        +title({
          text: 'Этапы подбора и установки',
          tag: 'h2',
          mods: ['h2']
        })
        +steps({
          items: [{
            title: 'Замер',
            text: 'Наш дизайнер посетит вашу квартиру или офис в удобное вам время',
            icon: 'measuring'
          },{
            title: 'Подбор материалов',
            text: 'Получите несколько эксклюзивных вариантов дизайна штор',
            icon: 'fabric'
          },{
            title: 'Дизайн',
            text: 'Подходящей модели и стоимости',
            icon: 'scene'
          },{
            title: 'Замер',
            text: 'Мастер закрепит карниз и повесит шторы',
            icon: 'fabriс'
          }]
        })

    .container-new
      .row
        +title({
          text: 'Выполненные работы',
          tag: 'h2',
          mods: ['h2']
        })

        p Наша команда работает вместе уже более 10-ти лет и способна на создание даже самых сложных интерьеров. Несмотря на значительный опыт, мы никогда не перестаем учиться чему-то новому и быть в курсе новых трендов в дизайне штор.

    .container-new
      +slider({
        mods: ['opacity'],
        items: [{
          img: '../img/service-1.png',
          btn_text: 'Хочу также',
          btn_link: '#'
        },{
          img: '../img/service-1.png',
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        }]
      })

    .container-new
      .row
        +title({
          text: 'Выполненные работы',
          tag: 'h2',
          mods: ['h2']
        })

        p Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом рамки и место обучения кадров позволяет оценить значение новых предложений. 

        p Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом рамки и место обучения кадров позволяет оценить значение новых предложений. 

        p Равным образом рамки и место обучения кадров позволяет оценить значение новых предложений. 
    
    +callback({
      title: 'Закажите деревянные карнизы и получите скидку 10%',
      img: '../img/service-1.png',
      items: [{
        type: "text",
        placeholder: 'Ваше имя'
      },{
        type: "tel",
        placeholder: 'Ваш номер'
      },{
        type: "email",
        placeholder: 'Ваш e-maill'
      }]
    })

    .container-new
      .row
        +title({
          text: 'Каталог карнизов',
          tag: 'h2',
          mods: ['h2']
        })
      +slider({
        mods: ['opacity'],
        items: [{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: '../img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        }]
      })

    .container-new
      .row
        +title({
          text: 'Отзывы',
          tag: 'h2',
          mods: ['h2']
        })

      +slider({
        reviews: [{
          audio: 'https://gamepedia.cursecdn.com/dota2_gamepedia/5/50/Music_default_laning_01.mp3',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!',
          },{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        },
        
        {
          audio: 'https://gamepedia.cursecdn.com/dota2_gamepedia/4/44/Music_default_battle_01.mp3',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        },
        
        {
          video: 'https://www.youtube.com/embed/W_bKpbiMz3A',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        }]
      })

    .container-new
      .row
        +title({
          text: 'Наши услуги',
          tag: 'h2',
          mods: ['h2']
        })
        +card({
          mods: ['stretch'],
          items: [{
            title: 'Монтаж карнизов',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: '../img/service-1.png',
          },{
            title: 'Монтаж полиуретановых карнизов',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: '../img/service-1.png',
          },{
            title: 'Монтаж потолочного карниза',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: '../img/service-1.png',
          }]
        })

    +consult({
      mods: ['form'],
      bg_img: '../img/banner-1.png',
      title: 'Вызовите нашего специалиста совершенно бесплатно!',
      text: 'для замера и подбора дизайнерского решения',
      info_title: 'Или позвоните нам самостоятельно!',
      info_text: 'Ежедневно: с 09.00 до 21.00 без перерыва',
      info_big_text: '<a href="tel:+7(499)490-98-85">+7 (499) 490-98-85</a>',
      items: [{
        icon: 'growth',
        text: 'Экологичность'
      },{
        icon: 'shining',
        text: 'Эстетичность'
      },{
        icon: 'tools',
        text: 'Долговечность'
      }]
    })