mixin callback(data)
  .container-new.callback(class=addClass('callback', data.mods, data.addClass), style="background-image: url("+data.img+")")
    .row.callback__wrap
      form.callback__form
        .callback__thx Спасибо за заявку! Мы скоро свяжемся с Вами. 
        .callback__title!=data.title
        each item in data.items
          input(type=item.type, placeholder=item.placeholder).callback__input
        +btn({
          text: 'Отправить',
          type: 'submit',
          mods: data.btn_mods,
          add_Class: 'callback__btn callback__input'
        })
        label.callback__check
          input.check(type="checkbox", checked, required)
          | Я согласен с условиями 
          a(href="#", target="_blank") пользовательского соглашения
      