extends /app/templates/default

block main
  main
    .container-new.container-new_pre-header(style="background-image: url(./img/banner-1.png)")
      .row
        +pre-header({
          title: 'Шторы под ключ',
          subtext: ' высокого качества в срок от 3 дней'
        })
          +list({
            mods: ['white'],
            items: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          })

    .container-new.advantages
      .row
        .advantages__row
          +title({
            text: 'Преимущества потолочных карнизов:',
            tag: 'h2',
            mods: ['h2']
          })
          .advantages__pic(style="background-image: url(./img/banner-1.png)")
          .advantages__wrap
            .advantages__item Эстетичный внешний вид за счет того, что все крепления спрятаны и низкая цена, по сравнению со многими другими видами карнизов.
            .advantages__item Универсальность – их можно установить в любом помещении, в том числе на балконе, лоджии и в других труднодоступных местах;
            .advantages__item Гибкая конструкция позволяет оформить фигурные проемы окон в эркере или круглой мансарде;

    .container-new.advantages.advantages_gray
      .row    
        .advantages__row.advantages__row_reverse
          .advantages__wrap
            .advantages__item Эстетичный внешний вид за счет того, что все крепления спрятаны и низкая цена, по сравнению со многими другими видами карнизов.
            .advantages__item Универсальность – их можно установить в любом помещении, в том числе на балконе, лоджии и в других труднодоступных местах;
            .advantages__item Гибкая конструкция позволяет оформить фигурные проемы окон в эркере или круглой мансарде;
          .advantages__pic(style="background-image: url(./img/banner-1.png)")
          


          

    .container-new
      .row
        +title({
          text: 'Всего несколько шагов к текстилю отличного качества',
          tag: 'h2',
          mods: ['h2']
        })
        +steps({
          items: [{
            title: 'Позвоните',
            text: 'Наш дизайнер посетит вашу квартиру или офис в удобное вам время',
            icon: 'phone'
          },{
            title: 'Покажите ваше окно',
            text: 'Получите несколько эксклюзивных вариантов дизайна штор',
            icon: 'window'
          },{
            title: 'Выберите ткань и карниз',
            text: 'Подходящей модели и стоимости',
            icon: 'scene'
          },{
            title: 'Назначьте день установки',
            text: 'Мастер закрепит карниз и повесит шторы',
            icon: 'calendar'
          }]
        })

    .container-new
      .row
        +title({
          text: 'C чего начать?',
          tag: 'h2',
          mods: ['h2']
        })
        +services({
          items: [{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: 'img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_class: 'services__btn',
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          },{
            title: 'Выезд на объект',
            text: 'Опытный дизайнер помогут создать уют в вашем доме',
            bg_img: 'img/service-1.png',
            btn_text: 'Вызвать дизайнера на дом',
            btn_link: '#',
            btn_class: 'services__btn',
            list: [{
              text: 'Уникальные шторы под любой интерьер: офисы, квартиры, коттеджи.'
            },{
              text: 'Утверждаем макет, оформляем ваши окна «под ключ» - от идеи до монтажа готового изделия'
            }]
          }]
        })

    .container-new
      .row 
        p Придать помещению законченный вид невозможно без домашнего текстиля. Дизайн окон должен подходить по стилю к интерьеру, а потому, изготовление штор должно быть индивидуальным. Наши дизайнеры готовы сшить шторы на заказ для любых размеров и видов окон.

        p Магазины предлагают широкий выбор штор различных по стоимости и виду. Готовые варианты всегда слишком универсальны, а заранее предположить, как они будут смотреться на окне практически невозможно. Не тот цвет, не тот размер, рисунок не вписывается в интерьер, текстура материала не смотрится, ткань слишком пропускает свет… Избежать всех этих проблем можно обратившись в наш салон.

        p Мастера приедут к вам и детально изучат все особенности интерьера и планировки, покажут образцы тканей и помогут в выборе. Услуги выезда дизайнера на дом оказывает не каждый салон штор, но изготовить настоящий шедевр без этого очень сложно. Мы готовы украсить ваши окна эксклюзивным или недорогим текстилем. Заказав пошив штор от наших дизайнеров, вы передаете свои окна в надежные руки, которые создадут для них уникальное оформление по дизайнерскому проекту.

    .container-new
      .row
        +title({
          text: 'Виды монтажа',
          tag: 'h2',
          mods: ['h2']
        })

      +slider({
        mods: ['opacity'],
        items: [{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        }]
      })

    +callback({
      title: 'Оставить заявку на бесплатную консультацию дизайнера',
      img: 'img/service-1.png',
      items: [{
        type: "text",
        placeholder: 'Ваше имя'
      },{
        type: "tel",
        placeholder: 'Ваш номер'
      },{
        type: "email",
        placeholder: 'Ваш e-maill'
      }]
    })


    .container-new
      .row
        +title({
          text: 'Cтоимость',
          tag: 'h2',
          mods: ['h2']
        })
        +card({
          items: [{
            title: 'Уютный минимум',
            text: 'Отличная цена без потери качества',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: 'img/service-1.png',
            orders: [{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            }]
          },{
            title: 'Уютный минимум',
            text: 'Отличная цена без потери качества',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: 'img/service-1.png',
            add_Class: 'active',
            orders: [{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            }]
          },{
            title: 'Уютный минимум',
            text: 'Отличная цена без потери качества',
            btn_text: 'Получить консультацию',
            btn_link: '#',
            btn_class: 'service__btn',
            img: 'img/service-1.png',
            orders: [{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            },{
              text: '- Цена тканей 1000 руб./метр (ткани в наличии)'
            }]
          }]
        })

    .container-new
      .row
        +title({
          text: 'Портфолио',
          tag: 'h2',
          mods: ['h2']
        })
        p Наша команда работает вместе уже более 10-ти лет и способна на создание даже самых сложных интерьеров. Несмотря на значительный опыт, мы никогда не перестаем учиться чему-то новому и быть в курсе новых трендов в дизайне штор.
    
    .container-new
      +slider({
        mods: ['opacity'],
        items: [{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        },{
          img: 'img/service-1.png',
          title: 'Монтаж полиуретановых карнизов'
        }]
      })

    .container-new
      .row 
        p Придать помещению законченный вид невозможно без домашнего текстиля. Дизайн окон должен подходить по стилю к интерьеру, а потому, изготовление штор должно быть индивидуальным. Наши дизайнеры готовы сшить шторы на заказ для любых размеров и видов окон.

        p Магазины предлагают широкий выбор штор различных по стоимости и виду. Готовые варианты всегда слишком универсальны, а заранее предположить, как они будут смотреться на окне практически невозможно. Не тот цвет, не тот размер, рисунок не вписывается в интерьер, текстура материала не смотрится, ткань слишком пропускает свет… Избежать всех этих проблем можно обратившись в наш салон.

        p Мастера приедут к вам и детально изучат все особенности интерьера и планировки, покажут образцы тканей и помогут в выборе. Услуги выезда дизайнера на дом оказывает не каждый салон штор, но изготовить настоящий шедевр без этого очень сложно. Мы готовы украсить ваши окна эксклюзивным или недорогим текстилем. Заказав пошив штор от наших дизайнеров, вы передаете свои окна в надежные руки, которые создадут для них уникальное оформление по дизайнерскому проекту.

    +callback({
      title: 'Закажите экслюзивные шторы и получите скидку 10%',
      img: 'img/service-1.png',
      items: [{
        type: "text",
        placeholder: 'Ваше имя'
      },{
        type: "tel",
        placeholder: 'Ваш номер'
      },{
        type: "email",
        placeholder: 'Ваш e-maill'
      }]
    })

    .container-new
      .row
        +title({
          text: 'Отзывы',
          tag: 'h2',
          mods: ['h2']
        })

      +slider({
        reviews: [{
          audio: 'https://gamepedia.cursecdn.com/dota2_gamepedia/5/50/Music_default_laning_01.mp3',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!',
          },{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        },
        
        {
          audio: 'https://gamepedia.cursecdn.com/dota2_gamepedia/4/44/Music_default_battle_01.mp3',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        },
        
        {
          video: 'https://www.youtube.com/embed/W_bKpbiMz3A',
          pluses: [{
            text: 'Мне очень понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }],
          minuses: [{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          },{
            text: 'Мне очень не понравилось в сервисном центре. Мастер очень быстро отремонтировал мой телефон. Всё было сделано очень качественно. Всё супер! Спасибо вам за работу!'
          }]
        }]
      })