html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  color: $mine_shaft;
  line-height: 1.5;
  font-weight: 400;
  color: $dove_gray;
}

p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
  // @include breakpoint(md) {
  //   font-size: 16px;
  //   line-height: 1.5;
  // }
}

body {
  padding-top: 135px;
  @include breakpoint(lg) {
    padding-top: 70px;
  }
  @include breakpoint(md) {
    padding-top: 57px;
  }
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  &:not(.btn):hover {
    text-decoration: underline;
  }
}

.opacity {
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0.5;
    z-index: -1;
  }
}

.container-new {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 60px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &_header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    .row {
      margin-bottom: 0;
    }
  }
  &_gray {
    background-color: #F3F3F3;
  }
  &_lightgray {
    background-color: #EFEFEF;
  }
  &_dark {
    background-color: #393939;
  }
  &_pre-header {
    z-index: 1;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    &:before {
      background: linear-gradient(64.73deg, rgba(255, 255, 255, 0.59) 12.31%, rgba(255, 255, 255, 0) 106.33%);
    }
    &:after {
      background: linear-gradient(51.28deg, rgba(255, 255, 255, 0.59) -15.62%, rgba(255, 255, 255, 0) 56.07%);
    }
  }
}

.row {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  img {
    width: 100%;
  }
  &_sticking {
    margin-bottom: 0;
  }
}

.footer {
  margin-top: 0;
}

input, button {
  -webkit-appearance: none;
  border: 0;
  outline: none;
}

input[type=text],
input[type=email],
input[type=tel] {
  border: 2px solid transparent;
  transition: .3s;
  &:focus {
    border-bottom: 2px solid $locust;
  }
  &.error {
    border-color: red
  }
}

.incut {
  border-left: 7px solid #a2ae8b;
  border-bottom: 2px solid #a2ae8b;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  background: #f1f1f1;
  font-style: italic;
  margin-bottom: 35px;
}

.certitem {
  max-width: 700px;
  margin: 0 auto 10px;
}

.abstract-img {
  background-image: url(../img/abstract-img.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 0 0 30px;
  @include breakpoint(lg) {
    background-position: 0 8em;
    background-size: 250%;
  }
}

.breadcrumbs {
  background-color: $white;
  a {
    color: $black;
  }
}