$black: #000000;
$white: #FFFFFF;
$mercury: #E5E5E5;
$ebb: #ECE8E5;
$sisal: #D8CFBD;
$gray: #7E7E7E;
$silver_chalice: #A4A4A4;
$pampas: #EEEAE7;
$mine_shaft: #2D2D2D;
$locust: #A2AE8B;
$battleship_gray: #858D75;
$nevada: #616E77;
$dove_gray:#676565;


$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1080px,
  xl: 1200px,
  xxl: 1366px,
);

@mixin breakpoint($value, $keyword: null) {
  @media screen and (max-width: map-get($breakpoints, $value)) {
    @content;
  }
}

@mixin breakpoint($value, $keyword: null) {
  @media screen and (max-width: map-get($breakpoints, $value)) {
    @content
  }
}