mixin services(data)
  .services(class=addClass('services', data.mods, data.addClass))
    each item in data.items
      .services__item(style="background-image: url("+item.bg_img+")")
        .services__title
          if data.mods == 'grid'
            a(href="#")!=item.title
          else
            !=item.title
        .services__text!=item.text
        if item.list
          ul.services__list
            each listed in item.list
              li.services__list-item
                if data.mods == 'grid'
                  a(href="#")!= listed.text
                else
                  != listed.text
        +btn({
          mods: item.btn_mods,
          btn_link: item.btn_link,
          text: item.btn_text,
          add_Class: item.btn_class,
          btn_data: item.btn_data
        })
    if data.mods == 'grid'
      +btn({
        mods: ['text'],
        btn_link: 'javascript:void(0)',
        text: 'Больше карнизов',
        add_Class: 'services__more'
      })
