extends /app/templates/default

block main
  main.inside
    .container-new
      .row
        +breadcrumbs({
          items: ['Главная', 'Галерея работ' ]
        })
        +title({
          tag: 'h1',
          mods: ['h1', 'default'],
          text: 'Наши работы'
        })
        +tags({
          items: ['Дома', 'Квартиры' , 'Офисы', 'Спальни', 'Офисы', 'Офисы', 'Веревочные']
        })
    .container-new
      .row
        +grid({columns: '3', offset: 'sm'})
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
          include /app/blocks/case/case
        +btn({
          text: 'Посмотреть еще',
          mods: ['more']
        })
    .container-new
      .row
        include /app/blocks/pagination/pagination
      