.tags {
  display: flex;
  flex-wrap: wrap;
  .tags {
    &__item {
      padding: 10px 50px;
      margin-bottom: 20px;
      border: 2px solid #D3CFCF;
      border-radius: 50px;
      font-size: 17px;
      text-decoration: none;
      &.active {
        background-color: #76477D;
        color: #fff;
      }
      &:hover {
        text-decoration: none;
      }
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}