.category {
  position: relative;
  width: 100%;
  margin: 40px 0 0 0;
  overflow: visible;
  &__item {
    border: 1px solid #D3CFCF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    height: auto;
  }
  .icon {
    width: 47px;
    height: 47px;
    margin-right: 30px;
  }
  .swiper-wrapper {
    display: flex;
    align-items: stretch
  }
  .swiper-scrollbar {
    bottom: -10px;
  }
}