mixin category(data)
  .category(class=addClass('category', data.mods, data.addClass)).swiper-container
    .swiper-wrapper
      .swiper-slide
        each item in data.items
          a.category__item(href=item.link)
            +icon({icon: item.icon})
            !=item.text
    .swiper-scrollbar