.pre-header {
  padding-top: 120px;
  padding-bottom: 170px;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(lg) {
    padding-top: 90px;
    padding-bottom: 110px;
  }
  &__wrap {
    flex: 1 1 50%;
    &:nth-of-type(2) {
      flex: 0 1 450px;
      margin-left: 80px;
      @include breakpoint(lg) {
        margin-left: 0;
        margin-top: 40px;
      }
      @include breakpoint(sm) {
        flex: 1 1 100%;
      }
    }
    @include breakpoint(lg) {
      flex: 1 1 100%
    }
  }
  &__ad {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: $white;
    z-index: 1;
    box-sizing: border-box;
    @include breakpoint(lg) {
      position: relative;
      margin: 30px -15px -110px;
      padding: 15px;
      width: 100vw;
    }
    p {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 20px;
      @include breakpoint(lg) {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    span {
      font-size: 20px;
      @include breakpoint(lg) {
        font-size: 14px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      // width: 100%;
      height: 100%;
      background-color: #1C1C1C90;
      opacity: 0.61;
      z-index: -1;
      @include breakpoint(md) {
        margin: 0 -20px;
      }
    }
  }
  &__form {
    background: rgba(255, 255, 255, 0.85);
    .form {
      &__title {
        color: #393939;
      }
      &__input {
        background: #EFEFEF;
        border: 2px solid #CACACA;
        color: #575757;
        &::placeholder {
          color: inherit;
        }
      }
      &__btn {
        background-color: #76477d;
        border-radius: 0 10px 10px 0;
        font-size: 15px;
        @include breakpoint(sm) {
          border-radius: 10px;
        }
        &.btn_file {
          background: rgba(118, 71, 125, 0.47);
          border-radius: 10px 0 0 10px;
          @include breakpoint(sm) {
            border-radius: 10px;
          }
        }
      } 
    }
  }
}