mixin pre-header(data)
  .pre-header
    .pre-header__wrap
      +title({
        text: data.title,
        tag: 'h1',
        mods: data.title_mods,
        subtext: data.subtext
      })
      if block 
        block
    
    .pre-header__wrap
      +form({
          mods: data.form_mods,
          foto_insert: data.foto_insert,
          btn_mods: data.btn_mods,
          title: 'Получите бесплатную консультацию у дизайнеров ',
          btn_text: 'Получить консультацию',
          items: [{
            type: 'tel',
            placeholder: 'Ваш телефон'
          }]
        })
    if data.ad
      .pre-header__ad
        p БЕСПЛАТНЫЙ ВЫЕЗД ДИЗАЙНЕРА ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ
        span Выезд с каталогами тканей, образцами карнизов и рулонных штор с 9:00 до 21:00 без выходных
