footer.footer
  .container-new.container-new_lightgray
    .row
      .footer__wrapper
        .footer__column
          img.footer__logo(src="img/logo.png")

        .footer__column
          .footer__category
            .footer__category-name Шторы
            ul.footer__category-list
              li Классические шторы
              li Современные шторы
              li Римские шторы
              li Японские шторы
              li Австрийские шторы
              li Французские шторы
              li Пошив подушек на заказ
              li Пошив покрывал на заказ



        .footer__column

        .footer__column

        .footer__column

        .footer__column
