.case
  .case__img(style="background-image: url(../img/case-preview.png)")
  .case__info
    .case__date 10/08/2-19
    .case__rating 0 0 0 0 0
  .case__title Название кейса штор
  .case__desc Очень очень хорошие, скорее даже прекрасные, но возможно просто восхитительные