<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/libs.css")
    link(rel="stylesheet", href="../css/style.css")
    title NEW PROJECT
  body
    block vars
      include /app/blocks/header-new/header-new
      include /app/blocks/title/title
      include /app/blocks/btn/btn
      include /app/blocks/social/social
      include /app/blocks/breadcrumbs/breadcrumbs
      include /app/blocks/tags/tags
      include /app/blocks/grid/grid
      include /app/blocks/list/list
      include /app/blocks/form/form
      include /app/blocks/icon/icon
      include /app/blocks/search-input/search-input
      include /app/blocks/header-menu/header-menu
      include /app/blocks/pre-header/pre-header
      include /app/blocks/steps/steps
      include /app/blocks/services/services
      include /app/blocks/card/card
      include /app/blocks/callback/callback
      include /app/blocks/slider/slider
      include /app/blocks/consult/consult
      include /app/blocks/category/category
      include /app/blocks/portfolio/portfolio
      include /app/blocks/stride/stride
      include /app/blocks/catalog/catalog
      include /app/blocks/autor/autor

    block header
      header
        include /app/blocks/social-panel/social-panel
        .container-new.container-new_header
          .row
            +header-new({
            })
    
    block main
      main
    
    block footer
      include /app/blocks/footer/footer
      include /app/blocks/modal/modal
      div(style='display: none;')
        include ../../dist/img/icons/icons.svg
      script(src="https://code.jquery.com/jquery-3.4.1.min.js")
      script(src="../js/libs.js")
      script(src="../js/scripts.js")